*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h2 {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

/* header */

header {
    text-align: center;
    margin: 20px 0 10px 0;
}

/* zone de recherche */

.user-localisation {
    background-color: #eaeaea;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: inset 0px 8px 6px -6px rgba(0, 0, 0, 0.2);
}

.user-localisation__dot {
    margin-right: 15px;
}

#city-research {
    border: none;
    background-color: #eaeaea;
    color: #000;
    font-weight: bold;
}

input[type="text"] {
    width: 125px;
}

input:focus {
    outline: none;
}

/* section booking */

.booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f6f6f6;
}

.booking__title {
    width: 75%;
    text-align: center;
    margin-top: 35px;
}

.booking__quote {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
}

.booking__btn {
    margin-bottom: 55px;
}

.booking__btn > button {
    display: flex;
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(#FF79DA, #9356DC);
    color: #FFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 100ms, box-shadow 500ms;
}

.booking__btn > button:hover {
    background: #FF79DA;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/* nav fonctionnement */

nav {
    margin-top: 55px;
    margin-bottom: 30px;
}

nav p {
    margin: 0;
}

nav h2 {
    margin-bottom: 15px;
    margin-left: 15px;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.filters__restaurant {
    display: flex;
    align-items: center;
    width: 93%;
    margin-bottom: 20px;
}

.filters__number {
    height: 25px;
    width: 25px;
    background-color: #9356DC;
    color: #FFF;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -3%;
    z-index: 1;
}

.filters__btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f6f6f6;
    padding: 30px;
    border-radius: 25px;
    width: 93%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.filters__btn:hover {
    background-color: #9256dc41;
}

.filters__btn:hover i {
    color: #9356DC;
}

.filters__btn i {
    margin-right: 20px;
    color: #838282;
    font-size: 18px;
}


.filters__title {
    font-weight: bold;
}

/* restaurants */

.restaurants {
    background-color: #f6f6f6;
    padding-top: 45px;
    padding-bottom: 30px;
}

.restaurants h2 {
    margin: 10px 0 20px 5%;
}

.restaurants__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.restaurants__card {
    height: 220px;
    width: 90%;
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.card__image {
    height: 70%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.card__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 61%;
}

.card__new {
    width: 75px;
    height: 30px;
    background: #99e2d0;
    color: #008766;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8%;
    right: 3%;
    z-index: 1;
    font-size: 12px;
    font-weight: bold;
}

.card__body {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: first baseline;
    padding: 0 7% 0 5%;
}

.card__quote {
    display: inline-block;
    margin-top: 5px;
}

.card__heart {
    font-size: 20px;
    position: relative;
}

.card__heart .fa-regular {
    opacity: 1;
    position: absolute;
}

.card__heart .fa-regular:hover {
    opacity: 0;
}

.card__heart .fa-solid {
    opacity: 0;
    position: absolute;
    background-image: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform-origin: bottom;
    transition: all 300ms ease-in;
    
}

.card__heart .fa-solid:hover {
    opacity: 1;
}




/* footer */

footer {
    background: #353535;
    color: #FFF;
    padding: 25px 0 25px 5%;
}

footer h1 {
    font-size: 16px;
    margin-bottom: 15px;
}

footer ul {
    list-style-type: none;
    padding: 0;

}

footer li {
    margin-bottom: 7px;
}

footer span, footer i {
    color: #FFF;
}

footer i {
    margin-right: 10px;
    font-size: 10px;
}

/* feuilles menus */

/* header */

.header__menu {
    position: relative;
}

.header__btn {
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 20px;
}

/* image de fond */

.image-menu {
    height: 270px;
    width: 100%;
}

.image-menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* carte menu */

.menu-restaurant {
    background: #f6f6f6;
    border-radius: 40px 40px 0 0;
    margin-top: -50px;
    position: relative;
    padding-top: 35px;
    padding-bottom: 25px;
}

.menu-restaurant__title h2 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    padding-left: 5%;
    font-size: 26px;
}

.menu-restaurant__heart {
    padding-right: 7%;
    font-size: 26px;
}

.menu-restaurant__heart .fa-regular {
    opacity: 1;
    position: absolute;
}

.menu-restaurant__heart .fa-regular:hover {
    opacity: 0;
}

.menu-restaurant__heart .fa-solid {
    opacity: 0;
    position: absolute;
    background-image: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: translateY(20%);
    transition: all 200ms ease-in;
    
}

.menu-restaurant__heart .fa-solid:hover {
    opacity: 1;
    transform: translateY(0%);
}

.menu-restaurant__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* container carte menu */

.menu__container {
    margin-left: 5%;
}

/* carte menu  */

.menu {
    margin-bottom: 50px;
}

.menu__title {
    text-transform: uppercase;
}

.menu__hr {
    height: 3px;
    background-color: #99e2d0;
    width: 12%;
    border: none;
    margin-left: 0;
    margin-top: 5px;
}

/* menu card */

.menu__card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #FFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 13px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 95%;
}

.card__quote {
    font-size: 14px;
}

.card__price {
    font-weight: bold;
    padding-right: 3%;
}

.menu__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 70px
}

.menu__btn > button {
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(#FF79DA, #9356DC);
    color: #FFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    width: 55%;
    cursor: pointer;
    transition: all 500ms;
}

.menu__btn > button:hover {
    background: #FF79DA;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    

}

